# Handle line endings automatically for files detected as text,
# and leave all files detected as binary untouched.

* text=auto

# Force the following files to lf

*.cs text eol=lf
*.csproj text eol=lf
*.css text eol=lf
*.csv text eol=lf
*.lua text eol=lf
*.md text eol=lf
*.rc text eol=lf
*.resx text eol=lf
*.php text eol=lf
*.txt text eol=lf
*.xaml text eol=lf

# Microsoft files using cr+lf

*.bat text eol=crlf
*.cmd text eol=crlf
*.dsp text eol=crlf
*.dsw text eol=crlf
*.ini text eol=crlf
*.vcxproj text eol=crlf
*.vcxproj.filters text eol=crlf

usertype.dat text eol=crlf

# Denote all files that are truly binary and should not be modified.
# The following files will be considered as large binary files.
# To save space, they will not have the usual history/diff available

*.bin filter=lfs diff=lfs merge=lfs binary
*.dat filter=lfs diff=lfs merge=lfs binary
*.ddNSi filter=lfs diff=lfs merge=lfs binary
*.dll filter=lfs diff=lfs merge=lfs binary
*.exe filter=lfs diff=lfs merge=lfs binary
*.gif filter=lfs diff=lfs merge=lfs binary
*.ico filter=lfs diff=lfs merge=lfs binary
*.jar filter=lfs diff=lfs merge=lfs binary
*.jpg filter=lfs diff=lfs merge=lfs binary
*.lib filter=lfs diff=lfs merge=lfs binary
*.mo filter=lfs diff=lfs merge=lfs binary
*.obj filter=lfs diff=lfs merge=lfs binary
*.pdb filter=lfs diff=lfs merge=lfs binary
*.png filter=lfs diff=lfs merge=lfs binary
*.spirv filter=lfs diff=lfs merge=lfs binary
*.spv filter=lfs diff=lfs merge=lfs binary
*.srtm filter=lfs diff=lfs merge=lfs binary
*.wav filter=lfs diff=lfs merge=lfs binary
*.webp filter=lfs diff=lfs merge=lfs binary
*.xlsx filter=lfs diff=lfs merge=lfs binary

XPLM filter=lfs diff=lfs merge=lfs binary
XPWidgets filter=lfs diff=lfs merge=lfs binary

